task1
Task-2
Task-3
Task-4
Task-5/try
Task-5
7.1.cpp
Task-7
Postgres Database/task 2.1.SQL
Postgres Database/task 2.2.SQL
Postgres Database/task 2.3.SQL
Postgres Database/task 2.4.SQL
Postgres Database/task 2.5.SQL
Postgres Database/task 3.1.SQL
Postgres Database/task 3.2.SQL
Postgres Database/task 3.3.SQL
Postgres Database/task 3.4.SQL
Postgres Database/task 3.5.SQL
Postgres Database/task 3.6.SQL
Postgres Database/task 3.7.SQL
Postgres Database/task 3.8.SQL
